<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
    <h2>Name</h2>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <a href="#">Change</a>
    <form action="account/update_name" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value={{user.id}}>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value={{user.first_name}}>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value={{user.last_name}}>
        <label for="current_password">Current Password</label>
        <input type="password" name="current_password">
        <input type="submit" value="Update Name">
    </form>
    <h2>Email</h2>
    <p>{{user.email}}</p>
    <a href="#">Change</a>
    <form action="account/update_email" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value={{user.id}}>
        <label for="new_email">New Email</label>
        <input type="text" name="new_email">
        <label for="conf_email">Confirm Email</label>
        <input type="text" name="conf_email">
        <label for="current_password">Current Password</label>
        <input type="password" name="current_password">
        <input type="submit" value="Update email">
    </form>
    <h2>Password</h2>
    <p>**********</p>
    <a href="#">Change</a>
    <form action="account/update_password" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value={{user.id}}>
        <label for="new_password">New password</label>
        <input type="password" name="new_password">
        <label for="password">Confirm password</label>
        <input type="password" name="confirm_password">
        <label for="current_password">Current password</label>
        <input type="password" name="current_password">
        <input type="submit" value="Update password">
    </form>
    <br>
    <a href="lets-eat">Home</a>
</body>
</html>