<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
    <h2>Addresses</h2>
    {% for address in addresses %}
        <strong>{{address.address_label}}</strong>
        {{address.address_1}}
        <a href="{{address.id}}/destroy">Delete</a> | 
        <a href="">Edit</a>
    <br>
    <h3>Update Address</h3>
    <form action="update_address" method="post">
        {% csrf_token %}
        <input type="hidden" name="address_id" value={{address.id}}>
        <label for="address_1">Address</label>
        <input type="text" name="address_1" value={{address.address_1}}>
        <label for="address_2">Apt#/Suite (optional)</label>
        <input type="text" name="address_2" value={{address.address_2}}>
        <label for="city">City (required)</label>
        <input type="text" name="city" value={{address.city}}>
        <label for="state">State (required)</label>
        <input type="text" name="state" value={{address.state}}>
        <label for="zip_code">Zip (required)</label>
        <input type="text" name="zip_code" value={{address.zip_code}}>
        <label for="phone_number">Phone (required)</label>
        <input type="text" name="phone_number" value={{address.phone_number}}>
        <label for="cross_street">Cross Street (optional)</label>
        <input type="text" name="cross_street" value={{address.cross_street}}>
        <label for="delivery_instructions">Instructions (optional)</label>
        <input type="text" name="delivery_instructions" value={{address.delivery_instructions}}>
        <label for="address_label">Name this address</label>
        <select name="address_label">
            <option value="Home">Home</option>
            <option value="Work">Work</option>
            <option value="Other">Other</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    {% endfor %}
    <a href="">+Add a new address</a>
    <form action="add_address" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value={{user.id}}>
        <label for="address_1">Address</label>
        <input type="text" name="address_1" value={{address.address_1}}>
        <label for="address_2">Apt#/Suite (optional)</label>
        <input type="text" name="address_2" value={{address.address_2}}>
        <label for="city">City (required)</label>
        <input type="text" name="city" value={{address.city}}>
        <label for="state">State (required)</label>
        <input type="text" name="state" value={{address.state}}>
        <label for="zip_code">Zip (required)</label>
        <input type="text" name="zip_code" value={{address.zip_code}}>
        <label for="phone_number">Phone (required)</label>
        <input type="text" name="phone_number" value={{address.phone_number}}>
        <label for="cross_street">Cross Street (optional)</label>
        <input type="text" name="cross_street" value={{address.cross_street}}>
        <label for="delivery_instructions">Instructions (optional)</label>
        <input type="text" name="delivery_instructions" value={{address.delivery_instructions}}>
        <label for="address_label">Name this address</label>
        <select name="address_label">
            <option value="Home">Home</option>
            <option value="Work">Work</option>
            <option value="Other">Other</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>