<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Address Book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
        <div class="container hidden-phone">
            <div class="row">
                <div class="col-xs-2">
                    <a class="navbar-brand" href="{% url 'users:lets_eat' %}">
                        <img src="{% static 'users/img/logo.svg' %}" alt="GrubHub" width="100px">
                    </a>
                </div>
                <form action="#">
                    <div class="input col-xs-4 bl">
                        <input type="text" placeholder="Where are you? (Required)">
                        <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
                    </div>
                    <div class="input col-xs-3 bl">
                        <input type="text" placeholder="e.g. Sushi, pad thai, Bob's Pizza">
                        <i class="glyphicon glyphicon-search form-control-feedback">
                        </i>
                    </div>
                </form>
                <div class="col-xs-3 links bl">
                    <a class="link" href="#">Contact Us</a>
                    <a class="icon" href="{% url 'users:main_profile' %}"><span class="glyphicon glyphicon-user"></span></a>
                    <a class="icon" href="#"><span class="glyphicon glyphicon-lock"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="side-pane col-xs-3">
        <h2>Your Account</h2>
        <ul>
            <li>
                <a href="{% url 'users:main_profile' %}">Profile</a>
            </li>
            <li>
                <span>Address and Phone</span>
            </li>
            <li>
                <a href="#">Payments</a>
            </li>
            <li>
                <a href="#">Gift cards</a>
            </li>
            <li>
                <a href="#">Orders</a>
            </li>
            <li>
                <a href="#">Saved restaurants</a>
            </li>
            <li>
                <a href="{% url 'restaurants:restaurant_home' %}">My restaurants</a>
            </li>
        </ul>
    </div>
    <div class="main-pane col-xs-9">
        <div class="address-header">
            <h3>Addresses</h3>
            <a class="modal-trigger" data-toggle="modal" data-target="#addAddressModal">
                + Add a new address
            </a>
        </div>
        <div class="addresses">
            {% for address in addresses %}
            <div class="address-card">
                <div class="address">
                    <h5>{{address.address_label}}</h5>
                    {% if address.address_2 %}
                    <p>{{address.address_1}} , {{address.address_2}}</p>
                    {% else %}
                    <p>{{address.address_1}}</p>
                    {% endif %}
                </div>
                <ul class="edit">
                    <li>
                        <a href="{{address.id}}/destroy">Delete</a>
                    </li>
                    <li>
                        <a class="modal-trigger" data-toggle="modal" data-target="#editAddressModal{{address.id}}">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="modal fade" id="editAddressModal{{address.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class- "modal-title">Edit Address</h3>
                        </div>
                        <form action="update_address" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value={{user.id}}>
                                <input type="hidden" name="address_id" value={{address.id}}>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="address_1">Address <span>(Required)</span></label><br>
                                        <input type="text" name="address_1" class="form-control" value="{{address.address_1}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="address_2">Apt#/Suite <span>(Optional)</span></label><br>
                                        <input type="text" name="address_2" class="form-control" value="{{address.address_2}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="city">City <span>(Required)</span></label><br>
                                        <input type="text" name="city" class="form-control" value="{{address.city}}">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="state">State <span>(Required)</span></label><br>
                                        <input type="text" name="state" class="form-control" value="{{address.state}}">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="zip_code">Zip <span>(Required)</span></label><br>
                                        <input type="text" name="zip_code" class="form-control" value="{{address.zip_code}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="phone_number">Phone <span>(Required)</span></label><br>
                                        <input type="tel" name="phone_number" placeholder="(555) 555-1212" class="form-control" value="{{address.phone_number}}">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="cross_street">Cross Street <span>(Optional)</span></label><br>
                                        <input type="text" name="cross_street" placeholder="Main Street and Second Avenue" class="form-control" value="{{address.cross_street}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="delivery_instructions">Instructions <span>(Optional)</span></label><br>
                                        <textarea type="text" name="delivery_instructions"
                                            placeholder="No phone/intercom, please call before you deliver. Please leave with doorman etc"
                                            rows="2" class="form-control">{{address.delivery_instructions}}</textarea>
                                    </div>
                                </div>
                                <label for="address_label">Name this address</label>
                                <br>
                                <select name="address_label" selected="{{ address.address_label }}">
                                    <option value="Home">Home</option>
                                    <option value="Work">Work</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class-"modal-title">Add New Address</h3>
                </div>
                <form action="add_address" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value={{user.id}}>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="address_1">Address <span>(Required)</span></label><br>
                                <input type="text" name="address_1" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="address_2">Apt#/Suite <span>(Optional)</span></label><br>
                                <input type="text" name="address_2" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="city">City <span>(Required)</span></label><br>
                                <input type="text" name="city" class="form-control">
                            </div>
                            <div class="col-xs-3">
                                <label for="state">State <span>(Required)</span></label><br>
                                <input type="text" name="state" class="form-control">
                            </div>
                            <div class="col-xs-3">
                                <label for="zip_code">Zip <span>(Required)</span></label><br>
                                <input type="text" name="zip_code" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="phone_number">Phone <span>(Required)</span></label><br>
                                <input type="tel" name="phone_number" placeholder="(555) 555-1212" class="form-control">
                            </div>
                            <div class="col-xs-6">
                                <label for="cross_street">Cross Street <span>(Optional)</span></label><br>
                                <input type="text" name="cross_street" placeholder="Main Street and Second Avenue" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="delivery_instructions">Instructions <span>(Optional)</span></label><br>
                                <textarea type="text" name="delivery_instructions"
                                    placeholder="No phone/intercom, please call before you deliver. Please leave with doorman etc"
                                    rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <label for="address_label">Name this address</label><br>
                        <select name="address_label">
                            <option value="Home">Home</option>
                            <option value="Work">Work</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>