<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Address Book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
        <div class="container hidden-phone">
            <div class="row">
                <div class="col-xs-2">
                    <a class="navbar-brand" href="{% url 'users:index' %}">GrubHub</a>
                </div>
                <form action="#">
                    <div class="input col-xs-4 bl">
                        <input type="text" placeholder="Where are you? (Required)">
                        <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
                    </div>
                    <div class="input col-xs-3 bl">
                        <input type="text" placeholder="e.g. Sushi, pad thai, Bob's Pizza">
                        <i class="glyphicon glyphicon-search form-control-feedback">
                        </i>
                    </div>
                </form>
                <div class="col-xs-3 links bl">
                    <a class="link" href="#">Contact Us</a>
                    <a class="icon" href="#"><span class="glyphicon glyphicon-user"></span></a>
                    <a class="icon" href="#"><span class="glyphicon glyphicon-lock"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="side-pane col-xs-3">
        <h2>Your Account</h2>
        <ul>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                Address and Phone
            </li>
            <li>
                <a href="#">Payments</a>
            </li>
            <li>
                <a href="#">Gift cards</a>
            </li>
            <li>
                <a href="#">Orders</a>
            </li>
            <li>
                <a href="#">Saved restaurants</a>
            </li>
        </ul>
    </div>
    <div class="main-pane col-xs-9">
        <div class="address-header">
            <h3>Addresses</h3>
            <a class="modal-trigger" data-toggle="modal" data-target="#addAddressModal">
                + Add a new address
            </a>
        </div>
        <div class="addresses">
            <div class="address-card">
                <div class="address">
                    <h5>Work</h5>
                    <p>213 W Institute Pl , 610</p>
                </div>
                <ul class="edit">
                    <li>
                        <a href="#">Delete</a>
                    </li>
                    <li>
                        <a href="#">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="address-card">
                <div class="address">
                    <h5>Home</h5>
                    <p>1201 W Chase Ave , 1B</p>
                </div>
                <ul class="edit">
                    <li>
                        <a href="#">Delete</a>
                    </li>
                    <li>
                        <a href="#">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class-"modal-title">Add New Address</h3>
                </div>
                <div class="modal-body">
                    form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>