@import url('https://fonts.googleapis.com/css?family=Poppins');
@font-face {
    font-family: 'graphik';
    src: url('https://assets.grubhub.com/fonts/2ad16a9135fa759791353a358e78c429.woff') format('woff');
}
/* * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
} */
html, body {
    background-color: #eeeeef !important;
    height: 100%;
    margin: 0;
}
nav {
    background-color: #f63440;
    border-radius: 0 !important;
    margin: 0 !important;
}
.navbar-brand {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 23px !important;
    color: white;
    font-weight: bold;
    padding: 20px !important;
}
.navbar-brand:hover {
    color: white;
}
.bl {
    border-left: 1px solid #ff97a8;
}
.navbar input[type="text"] {
    margin: 10px;
    padding: 10px;
    background-color: #f63440;
    color: white;
    border: 0;
    width: 100%;
}
.navbar input[type="text"]:focus {
    outline: 1px dashed white;
}
.form-control-feedback  {
    color: #ff97a8;
}
::-webkit-input-placeholder {
    color: #ff97a8;
}
::-moz-placeholder {
    color: #ff97a8;
}
:-ms-input-placeholder {
    color: #ff97a8;
}
:-moz-placeholder {
    color: #ff97a8;
}
.links {
    height: 60px;
}
.links a {
    display: inline-block;
    color: white;
    margin: 10px 5px;
}
.icon {
    font-size: 23px;
}
.side-pane,
.main-pane {
    padding: 0 12px;
}
.side-pane {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    border-right: 1px solid #bfbfbf;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.side-pane h2 {
    font-weight: bold !important;
    font-size: 24px;
    margin: 30px 10px 5px 10px;
    padding: 0 0 5px 0;
}
.side-pane ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
.side-pane li {
    font-weight: bold;
    padding: 8px 0;
}
.side-pane a,
.main-pane a {
    text-decoration: none;
    color: #0074e4 !important;
}
.side-pane a:hover,
.main-pane a:hover {
    color: #005cb2 !important;
}
.address-header {
    display: flex;
    justify-content: space-between;
}
.address-header h3,
.modal h3 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;    
}
.address-header a {
    margin-top: 24px;
}
.addresses {
    margin-bottom: 12px;
}
.address-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eeeeef;
    padding: 16px 12px;
    background-color: white;
}
.address h5 {
    margin: 0px 0;
}
.address p {
    margin: 0;
    color: #bfbfbf;
}
.address-card ul {
    list-style: none;
}
.address-card li {
    display: inline-block;
    padding: 5px;
}
.modal-trigger {
    cursor: pointer;
}
.modal-body label span {
    font-weight: normal;
}
/* .form-control {
    max-width: 330px;
} */
.mt-15 {
    margin-top: 15px !important;
}