@font-face {
    font-family: 'graphik';
    src: url('https://assets.grubhub.com/fonts/2ad16a9135fa759791353a358e78c429.woff') format('woff');
}
html, body {
    background-color: #eeeeef !important;
    height: 100%;
    margin: 0;
}
nav {
    background-color: #f63440;
    border-radius: 0 !important;
    margin: 0 !important;
}
.navbar-brand {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 23px !important;
    color: white;
    font-weight: bold;
    padding: 20px !important;
}
.navbar-brand:hover {
    color: white;
}
.bl {
    border-left: 1px solid #ff97a8;
}
.navbar input[type="text"] {
    margin: 10px;
    padding: 10px;
    background-color: #f63440;
    color: white;
    border: 0;
    width: 100%;
}
.navbar input[type="text"]:focus {
    outline: 1px dashed white;
}
.navbar .form-control-feedback  {
    color: #ff97a8;
}
.navbar ::-webkit-input-placeholder {
    color: #ff97a8;
}
.navbar ::-moz-placeholder {
    color: #ff97a8;
}
.navbar :-ms-input-placeholder {
    color: #ff97a8;
}
.navbar :-moz-placeholder {
    color: #ff97a8;
}
.links {
    text-align: right;
    padding-right: 30px !important;
    height: 60px;
}
.links a {
    display: inline-block;
    color: white;
    margin: 10px 5px;
}
.icon {
    font-size: 23px;
}
.side-pane,
.order-pane,
.main-pane {
    margin: 60px 0 30px 0;
    padding: 0 12px;
}
.main-pane h4 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
}
.side-pane {
    border-right: 1px solid #bfbfbf;
    margin-top: 60px;
}
.order-pane {
    position: fixed !important;
    right: 0;
    border-left: 1px solid #bfbfbf;
    background-color: white;
}
.side-pane,
.order-pane {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.side-pane h2,
.order-pane h2 {
    font-weight: bold !important;
    font-size: 24px;
    margin: 30px 10px 5px 10px;
    padding: 0 0 5px 0;
}
.side-pane ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
.side-pane li {
    font-weight: bold;
    padding: 8px 0;
}
.side-pane a,
.main-pane a {
    text-decoration: none;
    color: #0074e4 !important;
}
.side-pane a:hover,
.main-pane a:hover {
    color: #005cb2 !important;
}
.restaurant-header,
.address-header {
    display: flex;
    justify-content: space-between;
}
.restaurant-header h3,
.address-header h3,
.modal h3 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;    
}
.restaurant-header a,
.address-header a {
    margin-top: 24px;
}
.restaurants,
.addresses,
.accounts {
    margin-bottom: 12px;
}
.accounts {
    margin-top: 35px;
}
.restaurant-card,
.address-card,
.account-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eeeeef;
    background-color: white;
}
.restaurant-card,
.address-card {
    padding: 16px 12px;
}
.account-card {
    padding: 30px;
}
.address h5,
.account h4 {
    margin: 0px 0;
}
.account h4 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
.address p {
    color: #bfbfbf;
    margin: 0;
}
.account p {
    margin: 10px 0 0 0;
}
.account-card a {
    margin-top: 10px;
}
.address-card ul {
    list-style: none;
}
.address-card li {
    display: inline-block;
    padding: 5px;
}
.tags {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tags .active {
    color: white;
    background-color: #197bb2;
}
.tags .inactive {
    color: black;
    background-color: #dcdcdc;
}
.tags input[type="checkbox"] {
    display: none;
}
.tags label,
.tags span {
    font-weight: normal;
    padding: 5px;
    border-radius: 4px;
}
.tags label:hover {
    color: white;
    background-color: #18628C;
}
ul.tags {
    padding: 0;
    list-style: none;
    line-height: 30px;
}
.tags li {
    display: inline-block;
}
.modal-trigger {
    cursor: pointer;
}
.modal-body label span {
    font-weight: normal;
}
.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('https://hungryhouse.co.uk/wp-content/uploads/2016/12/Christmas-takeaways-feature.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    margin-top: 60px;
    padding: 50px 15%;
    color: white !important;
}
.jumbotron h2 {
    text-align: center;
}
.jumbotron h2,
.jumbotron h3 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
.jumbotron {
    margin-bottom: 0 !important;
}
.jumbotron a {
    color: white !important;
    border-bottom: 1px solid white;
}
.jumbotron a:hover {
    color: #bfbfbf !important;
    border-bottom: 1px solid #bfbfbf;
    text-decoration: none;
}
.navbar button,
.jumbotron button {
    background: transparent;
    padding: 12px 16px;
    height: 48px;
    border: 2px solid white;
    border-radius: 4px;
}
.navbar button {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    color: white;
    margin-top: 0px;
}
.navbar button:focus {
    outline: 0;
}
.jumbotron button {
    margin-top: 20px;
}
.canned-images img {
    margin-top: 30px;
    padding-left: 8%;
}
.bg-white {
    background-color: #f9f9f9;
}
.center {
    text-align: center;
}
footer {
    color: white !important;
    background-color: #293BA3;
}
footer h4 {
    font-family: "graphik", Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
footer ul {
    padding: 0;
    list-style: none;
}
footer a {
    color: white !important;
    text-decoration: underline;
}
footer .row {
    padding: 20px 0;
}
.legal {
    border-top: 1px solid #5961ac;
}
.mt-15 {
    margin-top: 15px !important;
}
#map {
    width: 100%;
    height: 400px;
}
#tabs ul {
    list-style: none;
    padding-left: 0;
    margin: 20px 0px;
}
#tabs li {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs a {
    text-decoration: none;
    padding: 15px 30px;
}
.tabs li.active > a {
    color: white !important;
    background-color: #197bb2;
}
.tabs li.inactive > a {
    color: black !important;
    background-color: #dcdcdc;
}
.menu-card {
    background: white;
    padding: 15px;
    margin-bottom: 1px;
}
.menu-card h5 {
    font-weight: bold;
    text-decoration: underline;
}
.menu-header {
    display: flex;
    justify-content: space-between;
}
.menu-header ul {
    margin: 8px 0 !important;
}
.menu-items li {
    display: inline-block;
    background-color: white;
    padding: 15px;
    width: 49.75%;
    margin-bottom: 5px;
}
.menu-items p {
    color: #bfbfbf;
}
li.edit {
    text-decoration: none;
    color: #0074e4 !important;
    cursor: pointer;
}
li.edit:hover {
    text-decoration: underline;
}
div.edit {
    padding-left: 15px;
}
.hidden {
    display: none;
}