<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{restaurant.rest_name}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'restaurants/js/script.js' %}"></script>
    <script src="{% static 'restaurants/js/maps.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Hy8KRbxra3RULr0QG178j1xLd-n-Omw"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'restaurants/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body onload="codeAddresses([
    {% for location in locations %}
        '{{location.address_1}} {{location.city}}, {{location.state}} {{location.zip_code}}',
    {% endfor %}
    ])">
    <nav class="navbar navbar-toggleable-md navbar-dark navbar-fixed-top bg-faded">
        <div class="row">
            <div class="col-md-2 col-sm-9">
                <a class="navbar-brand" href="{% url 'users:lets_eat' %}">
                    <img src="{% static 'restaurants/img/logo.svg' %}" alt="GrubHub" width="100px">
                </a>
            </div>
            <form action="#">
                <div class="input col-md-4 hidden-sm hidden-xs bl">
                    <input type="text" placeholder="Where are you? (Required)">
                    <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
                </div>
                <div class="input col-md-3 hidden-sm hidden-xs bl">
                    <input type="text" placeholder="e.g. Sushi, pad thai, Bob's Pizza">
                    <i class="glyphicon glyphicon-search form-control-feedback">
                    </i>
                </div>
            </form>
            <div class="col-md-3 links bl">
                <a class="link" href="#">Contact Us</a>
                <a class="icon" href="{% url 'users:main_profile' %}"><span class="glyphicon glyphicon-user"></span></a>
                <a class="icon" href="#"><span class="glyphicon glyphicon-lock"></span></a>
            </div>
        </div>
    </nav>
    <div class="main-pane col-md-9 col-sm-12">
        <div id="tabs">
            <div class="restaurant-header">
                {% if restaurant.profile_photo %}
                <img src="{{restaurant.profile_photo.url}}" alt="" height="75" width="75">
                {% endif %}
                <h3>{{restaurant.rest_name}}</h3>
                {% if restaurant.owned_by.id == request.session.id %}
                <a href="restaurant/delete_restaurant">Delete Restaurant</a>
                {% endif %}
            </div>
            <ul class="tabs">
                <li class="active"><a href="#tabs-1">About</a></li>
                <li class="inactive"><a href="#tabs-2">Menu</a></li>
                {% if restaurant.owned_by.id == request.session.id %}
                <li class="inactive"><a href="#tabs-3">Manage</a></li>
                {% endif %}
            </ul>
            <div id="tabs-1">
                <h4>Categories</h4>
                <ul class="tags">
                {% for category in categories %}
                    <li>
                        <span class="active">{{category.restaurant_categories}}</span>
                    </li>
                {% endfor %}
                </ul>
                <h4>Locations</h4>
                <div id="map"></div>
                {% for location in locations %}
                <div class="restaurant-header">
                    {% if location.address_label %}
                    <h3>{{location.address_label}}</h3>
                    {% else %}
                    <h3>{{location.address_1}}</h3>
                    {% endif %} {% if restaurant.owned_by.id == request.session.id %}
                    <a href="#">Delete location</a>
                    {% endif %}
                </div>
                <p>{{location.address_1}}
                    <br> {% if location.address_2 %} {{location.address_2}}
                    <br> {% endif %} {{location.city}}, {{location.state}} {{location.zip_code}}
                    <br> {{location.phone_number}}
                </p>
                {% endfor %}
            </div>
            <div id="tabs-2">
                {% if menus %}
                {% for menu in menus %}
                <h4>{{menu.menu_name.title}}</h4>
                <ul class="menu-items">
                    {% for item in items %}
                    {% if item.menu == menu.id %}
                    <li>
                        <div>
                            <h5>{{item.item}}</h5>
                            <h5>{{item.price}}</h5>
                        </div>
                        <p>{{item.desc}}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
                {% else %}
                <p>No menus</p>
                {% endif %}
            </div>
            {% if restaurant.owned_by.id == request.session.id %}
            <div id="tabs-3">
                <h4>Upload a photo here!</h4>
                <form action="upload_profile" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="rest_id" value="{{restaurant.id}}">
                    <input type="file" name="myfile">
                    <button type="submit">Upload</button>
                </form>
                <h4>Add a Menu</h4>
                <form action="{% url 'menus:create_menu' restaurant.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="menu_name">Menu Name (required)</label>
                            <br>
                            <input type="text" name="menu_name" class="form-control">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                {% if menus %}
                <h4>Menus</h4>
                {% for menu in menus %}
                <div class="menu-card">
                    <div class="menu-header">
                        <h5>{{menu.menu_name.title}}</h5>
                        <ul>
                            <li class="edit" data-id="#edit-{{menu.id}}">
                                Edit
                            </li>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                        </ul>
                    </div>
                    <div id="edit-{{menu.id}}" class="hidden">
                        <form action="{% url 'menus:update_menu' restaurant.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="menu_id" value="{{menu.id}}">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="menu_name">Menu Name (required)</label>
                                    <br>
                                    <input type="text" name="menu_name" class="form-control" value="{{menu.menu_name}}">
                                </div>
                            </div>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% for location in locations %}
                <h4>Edit {{location.address_1}}</h4>
                <form action="update_location" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location_id" value="{{location.id}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="address_1">Address (required)</label>
                            <br>
                            <input type="text" name="address_1" class="form-control" value="{{location.address_1}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="address_2">Apt/Suite # (optional)</label>
                            <br>
                            <input type="text" name="address_2" class="form-control" value="{{location.address_2}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="city">City (required)</label>
                            <br>
                            <input type="text" name="city" class="form-control" value="{{location.city}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="state">State (required)</label>
                            <br>
                            <input type="text" name="state" class="form-control" value="{{location.state}}">
                        </div>
                        <div class="col-xs-3">
                            <label for="zip_code">Zip (required)</label>
                            <br>
                            <input type="text" name="zip_code" class="form-control" value="{{location.zip_code}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="zip_code">Name for your restaurant (optional)</label>
                            <br>
                            <input type="text" name="address_label" placeholder="Bob's Burgers - SLC" class="form-control" value="{{location.address_label}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="phone_number">Phone (required)</label>
                            <br>
                            <input type="text" name="phone_number" class="form-control" value="{{location.phone_number}}">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Edit" class="btn btn-primary">
                </form>
                {% endfor %}
                <h4>Add a location</h4>
                <form action="add_location" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="rest_id" value="{{restaurant.id}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="address_1">Address (required)</label>
                            <br>
                            <input type="text" name="address_1" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="address_2">Apt/Suite # (optional)</label>
                            <br>
                            <input type="text" name="address_2" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="city">City (required)</label>
                            <br>
                            <input type="text" name="city" class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <label for="state">State (required)</label>
                            <br>
                            <input type="text" name="state" class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <label for="zip_code">Zip (required)</label>
                            <br>
                            <input type="text" name="zip_code" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="zip_code">Name for your restaurant (optional)</label>
                            <br>
                            <input type="text" name="address_label" placeholder="Bob's Burgers - SLC" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="phone_number">Phone (required)</label>
                            <br>
                            <input type="text" name="phone_number" class="form-control">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                <h4>Update a restaurant</h4>
                <form action="update_restaurant" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="rest_id" value="{{restaurant.id}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="rest_name">Restaurant Name</label>
                            <br>
                            <input type="text" name="rest_name" class="form-control" value="{{restaurant.rest_name}}">
                        </div>
                    </div>
                    <br>
                    <div class="tags center">
                        {% for category in all_cats %} {% if category in categories %}
                        <input type="checkbox" id="{{category.id}}" name="category" value="{{category.id}}" checked="checked">
                        <label class="active" for="{{category.id}}">{{category.restaurant_categories}}</label>
                        {% else %}
                        <input type="checkbox" id="{{category.id}}" name="category" value="{{category.id}}">
                        <label class="inactive" for="{{category.id}}">{{category.restaurant_categories}}</label>
                        {% endif %} {% endfor %}
                    </div>
                    <input type="submit" value="Edit" class="btn btn-primary">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="order-pane col-md-3 hidden-sm">
        <h4>Your order</h4>
    </div>
</body>
</html>